# Machine Learning Online Assignment
## Part II - Pandas

### Task 1

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([25, 30, 35, 40, 45], index=['A', 'B', 'C', 'D', 'E'])
print("First three elements:\n", s[:3])
print("Mean:", s.mean())
print("Median:", s.median())
print("Standard Deviation:", s.std())

### Task 2

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
})

In [ ]:
print("First two rows of the DataFrame:\n", df.head(2))
print("\nColumn names:", df.columns.tolist())
print("\nData types:\n", df.dtypes)
print("\nSummary statistics:\n", df.describe(include='all'))

In [ ]:
df['Passed'] = df['Marks'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

### Task 3

In [ ]:
print("Selected columns (Name and Marks):\n", df[['Name', 'Marks']])
print("\nStudents with Marks > 80:\n", df[df['Marks'] > 80])
print("\nStudent(s) with the highest marks:\n", df[df['Marks'] == df['Marks'].max()])

### Task 4

In [ ]:
df.loc[1, 'Marks'] = None
df.loc[4, 'Age'] = None

print("Missing values in the DataFrame:\n", df.isnull())

In [ ]:
df['Marks'].fillna(df['Marks'].mean(), inplace=True)
df.dropna(subset=['Age'], inplace=True)
print("\nUpdated DataFrame after handling missing data:\n", df)

### Task 5

In [ ]:
print("Mean Age and Marks by Gender:")
print(df.groupby('Gender')[['Age', 'Marks']].mean())
print("\nNumber of students by Gender:")
print(df.groupby('Gender').size())

### Task 6

In [ ]:
df.to_csv("students_data.csv", index=False)
df2 = pd.read_csv("students_data.csv")
print("First five rows of the loaded DataFrame:")
print(df2.head())

### Task 7

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

tips = sns.load_dataset("tips")
print("First 5 records of the dataset:")
print(tips.head())

print("\nDescriptive statistics:")
print(tips.describe())

print("\nMissing values in each column:")
print(tips.isnull().sum())

### Data Visualization

In [ ]:
sns.boxplot(x='day', y='total_bill', data=tips)
plt.title("Boxplot of Total Bill by Day")
plt.show()

In [ ]:
plt.hist(tips['tip'], bins=10, edgecolor='black')
plt.title("Distribution of Tips")
plt.xlabel("Tip Amount")
plt.ylabel("Frequency")
plt.show()

In [ ]:
sns.scatterplot(x='total_bill', y='tip', hue='sex', data=tips)
plt.title("Tip vs Total Bill (Colored by Gender)")
plt.show()

### Summary

- The 'tips' dataset contains 244 records with no missing values.
- The average total bill is around $19.79 with a standard deviation of ~8.90.
- Tips range mostly between $2 and $4.
- Boxplot shows higher total bills on weekends (Sat & Sun).
- Scatterplot indicates a positive correlation between total bill and tip, and slight gender-based variation.